.tag{
    width: 121px;
    height: 40px;
    border-radius: 20px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px 10px 0px;
    
}

.blue-tag .icon{
    width: 30px;
    height: 30px;
    background-color: rgba(63, 104, 186, 0.15);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}      


.tag .icon{
    width: 30px;
    height: 30px;
    background-color: rgba(194, 0, 0, 0.12);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #C20001;
}

.blue-tag span{
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        color: var(--type-ghost);
}

.search{
    background: #FFFFFF;
    border-radius: 122px;
    width: 100%;
    max-width: 403px;
    height: 56px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.search input[type="text"]{
    width: 80%;
    height: 30px;
    font-weight: 400;
    color: #A0AFBA;
    border: none;
    outline: none;
    font-size: 15px;
}

.search button{
    width: 42px;
    height: 42px;
    left: 1298px;
    background: #FFFFFF;
    border: 1px solid #E1E9EF;
    border-radius: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: 0.5s;
}
.search button:hover{
    background: #9EB9E1;
}

button .fa-magnifying-glass{
    color: var(--type-ghost);
}

.filter .type-filter{
    width: 100px;
    height: 36px;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content : space-around;
    cursor: pointer;
    filter: grayscale(100%);
    opacity: 0.7;
    transition: 0.3s;
}

.type-filter:hover{
    filter: grayscale(0%);
    opacity: 1;
}

.filter .all{
    filter: grayscale(0%);
    opacity: 1;
}

.all span{
    color: #3E75C3;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5em;
}

.ghost span{
    color: var(--type-ghost);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5em;
}

.stone span{
    color: var(--type-stone);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5em;
}

.grass span{
    color: var(--type-grass);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5em;
}

.dragon span{
    color: var(--type-dragon);
    font-weight: 500;
    font-size: 15px; 
    line-height: 1.5em;
}

.steel span{
    color: var(--type-steel);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5em;
}

.eletric span{
    color: var(--type-eletricl);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5em;
}

.water span{
    color: var(--type-waterl);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5em;
}

.fire span{
    color: var(--type-fire);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5em;
}
 
.bug span{
    color: var(--type-bug);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5em;
}

.flying span{
    color: var(--type-flying);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5em;
}

.ice span{
    color: var(--type-ice);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5em;
}

.normal span{
    color: var(--type-normal);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5em;
}

.poison span{
    color: var(--type-poison);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5em;
}

.psychic span{
    color: var(--type-psychic);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5em;
}

.rock span{
    color: var(--type-ice);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5em;
}

.fairy span{
    color: var(--type-fairy);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5em;
}

.fighting span{
    color: var(--type-fighting);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5em;
}

.card-pokemon{
    width: 100%;
    max-width: 280px;
    height: 308px;
    background-color: #f1f1f1;
    box-shadow: 11px 10px 5px -5px rgba(183, 189, 194, 0.3);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

.card-pokemon:hover{
    transform: scale(1.02);
    box-shadow: 0px 12px 40px -5px rgba(90, 96, 100, 0.3);
}

.card-pokemon .image{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image:after{
    content: "";
    width: 16.5rem;
    height: 16.5rem;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
}

.info{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.info span{
    display: block;
    text-align: start;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    margin-bottom: 6px;
    color: #7A7D80;
}

.grass .image:after{
    background-color: rgba(114, 184, 97, 0.2);
}

.ghost .image:after{
    background-color: rgba(63, 104, 186, 0.2);
}

.stone .image:after{
    background-color: rgba(206, 128, 86, 0.2);
}

.dragon .image:after{
    background-color: rgba(44, 106, 193, 0.2);
}

.steel .image:after{
    background-color: rgba(101, 148, 161, 0.2);
}

.eletric .image:after{
    background-color: rgba(238, 218, 103, 0.2);
}

.water .image:after{
    background-color: rgba(136, 163, 212, 0.2);
}

.fire .image:after{
    background-color: rgba(246, 109, 109, 0.2);
}

.bug .image:after{
    background-color: rgba(156, 186, 72, 0.2);
}

.flying .image:after{
    background-color: rgba(166, 187, 232, 0.2);
}

.ice .image:after{
    background-color: rgba(139, 206, 193, 0.2);
}

.normal .image:after{
    background-color: rgba(160, 162, 159, 0.2);
}

.poison .image:after{
    background-color: rgba(172, 106, 202, 0.2);
}

.psychic .image:after{
    background-color: rgba(235, 140, 133, 0.2);
}

.rock .image:after{
    background-color: rgba(139, 206, 193, 0.2);
}

.fairy .image:after{
    background-color: rgba(226, 150, 225, 0.2);
}

.fighting .image:after{
    background-color: rgba(196, 77, 97, 0.2);
}




.tag-type{
    display: inline-block;
    padding: 0.4rem 0rem;
    width: 80px;
    text-align: center;
    border-radius: 2px;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    font-family: "Montserrat", sans-serif;
}

.tag-type.ghost{
    color: var(--type-ghost);
    background-color: rgba(63, 104, 186, 0.2);
}

.tag-type.stone{
    color: var(--type-stone);
    background-color: rgba(206, 128, 86, 0.2);
}

.tag-type.grass{
    color: var(--type-grass);
    background-color: rgba(114, 184, 97, 0.2);
}

.tag-type.dragon{
    color: var(--type-dragon);
    background-color: rgba(44, 106, 193, 0.2);
}

.tag-type.steel{
    color: var(--type-steel);
    background-color: rgba(101, 148, 161, 0.2);
}

.tag-type.eletric{
    color: var(--type-eletricl);
    background-color: rgba(238, 218, 103, 0.2);
}

.tag-type.water{
    color: var(--type-water);
    background-color: rgba(136, 163, 212, 0.2);
}

.tag-type.fire{
    color: var(--type-fire);
    background-color: rgba(246, 109, 109, 0.2);
}

.tag-type.bug{
    color: var(--type-bug);
    background-color: rgba(156, 186, 72, 0.2);
}

.tag-type.flying{
    color: var(--type-flying);
    background-color: rgba(166, 187, 232, 0.2);
}

.tag-type.ice{
    color: var(--type-ice);
    background-color: rgba(139, 206, 193, 0.2);
}

.tag-type.normal{
    color: var(--type-normal);
    background-color: rgba(160, 162, 159, 0.2);
}

.tag-type.poison{
    color: var(--type-poison);
    background-color: rgba(172, 106, 202, 0.2);
}

.tag-type.psychic{
    color: var(--type-psychic);
    background-color: rgba(235, 140, 133, 0.2);
}

.tag-type.rock{
    color: var(--type-ice);
    background-color: rgba(139, 206, 193, 0.2);
}

.tag-type.fairy{
    color: var(--type-fairy);
    background-color: rgba(226, 150, 225, 0.2);
}

.tag-type.fighting{
    color: var(--type-fighting);
    background-color: rgba(196, 77, 97, 0.2);
}




.btn-load-more{
    width: 19.6rem;
    height: 4.5rem;
    border-radius: 6px;
    background-color: rgba(166, 187, 232, 0.2);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.1em;
    color: var(--blue-primary);
    transition: 0.3s;
}

.btn-load-more:hover{
    background-color: var(--blue-primary);
    color: white;
}

.modal{
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2022;   
    transition: all 0.5s;
}

.modal .overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);   
}

.modal .box{
    max-width: 100%;
    width: 71rem;
    height: 50.8rem;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    border-radius: 16px;
    box-shadow: 0px 10px 40px rgba(13, 12, 71, 0.05);
    display: flex;
    flex-flow: row wrap;
    transform: translateY(0px);
    transition: 1s;
}

.modal[typePokemonModal="grass"] .left-container{
    background-image: url(../img/bg-types/grass.svg);
}

.modal[typePokemonModal="poison"] .left-container{
    background-image: url(../img/bg-types/poison.svg);
}

.modal[typePokemonModal="dark"] .left-container{
    background-image: url(../img/bg-types/dark.svg);
}

.modal[typePokemonModal="dragon"] .left-container{
    background-image: url(../img/bg-types/dragon.svg);
}

.modal[typePokemonModal="eletric"] .left-container{
    background-image: url(../img/bg-types/electric.svg);
}

.modal[typePokemonModal="fairy"] .left-container{
    background-image: url(../img/bg-types/fairy.svg);
}

.modal[typePokemonModal="fighting"] .left-container{
    background-image: url(../img/bg-types/fighting.svg);
}

.modal[typePokemonModal="ground"] .left-container{
    background-image: url(../img/bg-types/ground.svg);
}

.modal[typePokemonModal="ice"] .left-container{
    background-image: url(../img/bg-types/ice.svg);
}

.modal[typePokemonModal="normal"] .left-container{
    background-image: url(../img/bg-types/normal.svg);
}

.modal[typePokemonModal="psychic"] .left-container{
    background-image: url(../img/bg-types/psychic.svg);
}

.modal[typePokemonModal="rock"] .left-container{
    background-image: url(../img/bg-types/rock.svg);
}

.modal[typePokemonModal="ghost"] .left-container{
    background-image: url(../img/bg-types/ghost.svg);
}

.modal[typePokemonModal="steel"] .left-container{
    background-image: url(../img/bg-types/steel.svg);
}

.modal[typePokemonModal="flying"] .left-container{
    background-image: url(../img/bg-types/flying.svg);
}



.box .left-container{
    width: 19.1rem;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    
}

.box .close{
    width: 36px;
    height: 36px;
    border-radius: 8px;
    position: absolute;
    right: 0px;
    top: -44px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-container .icon{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 29px;
    top: 29px;
}

.left-container .image{
    position: absolute;
    top: 170px;
    right: -5px;
    transform: scale(1.4);

}

.right-container{
    padding: 35px 72px 29px 74px;
}

.right-container .name{
    display: flex;
    align-items: flex-end;
    justify-content: start;
}

.name span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: -0.01em;
    color: #7A7D80;
    margin: 5px;
}

.modal .type{
    display: flex;
    flex-flow: row wrap;
    margin-top: 1rem;
    margin-bottom: 0.8rem;

}

.type span{
    margin-right: 1rem;
}

.modal .info{ 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0rem;
}

.info{
    width: 100%;
    height: 85px;
}

.info li{
    margin-right: 4.8rem;
}

.info span{
    display: block;
    font-size: 1.3rem;
}

.weak{
    margin-bottom: 3.2rem;
}

.weak h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #4D5053;
}

.weak li{
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin-top: 1.6rem;
}

.weak span{
    margin-right: 1rem;
}

.status h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #4D5053;
    margin-bottom: 1.5rem;
}

.status .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.3rem;
}

.item span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    width: 6.8rem;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #7A7D80;
    text-align: left;
    width: 100px;
}

.item .bar-status{
    width: 100%;
    max-width: 28.3rem;
    height: 0.3rem;
    background-color: #EFF3F6;
    position: relative;

}

.bar-status .bar{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 56%;
    height: 100%;
    z-index: 0;
    background-color: #C20001;
}

.bar-status .separador{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.separador li{
    width: 4px;
    height: 3px;
    background-color: #ffffff;
    margin-left: 54px;
}

.separador li:first-child{
    margin-left: 0px;
}

.modal.open-modal{
    display: flex;
}

.box.animationModal{
    animation-name: show-modal;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes show-modal{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-30px)
    }
}



















