
.s-area-slide-hero{
    position: relative;
    width: 100%;
    height: 99.4rem;
}

.s-area-slide-hero .slide-hero{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide-hero .swiper-slide{
    background-color: red;
}

.swiper-slide::after{
    content: "";
    width: 100%;
    height: 40rem;
    position: absolute;
    bottom: -400px;
    left: 0px;
    background-color: #EFF3F6;
    z-index: 0;
    pointer-events: none;
}

.swiper-slide .blue .main-area{
    background-image: url("../img/bg-blue.svg");
}

.slide-hero .main-area{
    background-image: url("../img/bg-red.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 70.6rem;
    background-size: cover;
    padding-top: 13.3rem;
    position: relative;
}
 
.text .tag{
    margin: 0 auto;
}

.text .image{ 
    margin-top: 20rem;
    position: relative;
    z-index: 1;
}

.text h1{
    text-align: center;
    margin-bottom: 8px;
    margin-top: 29px;
}

.text p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF; 
}

.slide-hero .image{
    position: relative;
    bottom: 10px;
    z-index: 1;
    margin-top: 0rem;
    width: 100%;
    max-width: 79.8rem;
    margin: 0 auto;
    margin-top: 17.2rem;
    animation-name: showPokemon;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

}

.lights{
    position: absolute;
    left: 50%; 
    margin-left: -8.5rem;
    top: -40px;
}

.area-explore .txt{
    position: absolute;
    bottom: 80px;
    left: 110px;
    z-index: 2000;
    width: 40px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.txt .icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #C90C0C;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.txt .icon:hover{
    background-color: #9b0d0d;
}

.txt span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: #FFFFFF;
    transform: rotate(-90deg);

}

@keyframes showPokemon {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}

 .s-all-info-pokemons{
    position: relative;
    padding-top: 11.9rem;
    margin-top: -27.8rem;
} 

.s-all-info-pokemons .top{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 110px;
    margin-bottom: 100px;
}

.top h2{
    max-width: 200px;
    text-align: left;
    line-height: 4rem;
}

.area-all{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}


.area-all .filter{
    width: 20%;
    display: flex;
    padding-top: 7.1rem;
    flex-direction: column;
    align-items: center;
    padding-top: 7.1rem;
}

.filter li{
    padding-top: 4rem;
}

.filter li:first-child{
    padding-top: 0rem;
}


.area-all .right-container{
    padding-top: 7.1rem;
    padding-left: 75px;
    padding-bottom: 8rem;
    width: 80%;
}

.top-container{
    display: flex;
    align-items: center;
    margin-bottom: 63px;
}

.top-container span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #4D5053;
    margin-left: 6px;
}

.right-container .right-all{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;    
    margin-bottom: 68px;
    padding: 0px 10px;
}



.btn-load-more{
    margin: 0 auto;
    display: table;
}

.text h3{
    color: #2F3133;
}

@media(max-width: 1200px){
    .top .search{
        max-width: 32.3rem;
    }
    
    .area-all .left-container{
        max-width: 15.9rem;
        padding-top: 4rem;
        
    }

    .area-all .right-container{
        padding-top: 4rem;
        padding-left: 2.5rem;
        padding-bottom: 4rem;
    }

    .right-container .top-container{

    }
}


@media(max-width: 768px){
    .s-area-slide-hero{
        height: 95.4rem;
    }

    .slide-hero .swipper-slide::after{
        height: 25rem;
    }

     .main-area .area-explore{
        display: none;
    } 

    .main-area .text h1{
        max-width: 35.2rem;
        margin: 0 auto;
        margin-top: 0rem;
        margin-bottom: 1.5rem;
        font-size: 5.5rem;
        line-height: 1.3em;
    }

    .main-area .image{
        margin-top: 10.2rem;
    }

    .main-area .tag{
        position: relative;
        bottom: 20px;
    }

}

@media(max-width: 560px){
    .main-area .text h1{
        font-size: 4.5rem;
        margin-top: 2rem;
    }

    .swiper-slide::after{
        height: 54rem;
    }

    .main-area .text p{
        font-size: 15px;
        padding: 0px 10px;
        margin-top: 2rem;
    }

    /* .main-area .image img{
        max-width: 140%;
        transform: translateX(-14%);
    } */

    .main-area .image{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-area .image img{
        max-width: 62rem;
    }

    .s-all-info-pokemons{
        padding-top: -30.5rem;
        padding-top: 12rem;
        padding-bottom: 4rem;
    }

    .s-all-info-pokemons .top{
        display: block;
        margin-bottom: 9.7rem;
        padding: 0px 20px;
    }

    .top h2{
        margin: 0 auto;
        max-width: 500px;
        text-align: normal;
        text-align: center;
        margin-bottom: 3rem;
    }

    .top .search{
        margin: 0 auto;
        max-width: 390px;
    }



    
}



